.App {
    background: #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(125, 10, 255, 1);
    border: white dashed 2px;
    width: 24rem;
    height: 24rem;
}

.App button {
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 8px;
}

.Inputs {
    display: flex;
    flex-direction: row;
}

.Inputs {
    font-size: 38px;
    color: white;
    margin: 1rem;
}

.Inputs input {
    color: white;
    font-size: 24px;
    border: none;
    width: 75%;
    background-color: #111;
}

.Inputs #Minutes {
    text-align: end;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.Inputs #Seconds {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (max-width: 700px)
{
    .App {
        height: 20rem;
        width: 20rem;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px)
{
    .App {
        height: 24rem;
        width: 24rem;
    }
}

@media (min-width: 1201px)
{
    .App {
        height: 28rem;
        width: 28rem;
    }
}